body {
  overflow: hidden;
  margin: 0px;
}

.reflex-container.vertical > .reflex-splitter {
  width: 6px !important;
}

.reflex-container > .reflex-element {
  overflow: hidden !important;
}

.DraftEditor-root,
.DraftEditor-editorContainer,
.public-DraftEditor-content {
  height: 100%;
}
